<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>edu.stu:servlet-jsp-vpn:1.0-SNAPSHOT Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>servlet-jsp-vpn</param-name>
        <param-value>servlet-jsp-vpn.log</param-value>
    </context-param>

    <context-param>
        <param-name>username</param-name>
        <param-value>stunetlab</param-value>
    </context-param>

    <context-param>
        <param-name>password</param-name>
        <param-value>Professorcai3</param-value>
    </context-param>

    <filter>
        <filter-name>DownloadFilter</filter-name>
        <filter-class>edu.stu.controller.DownloadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DownloadFilter</filter-name>
        <url-pattern>/config.do</url-pattern>
    </filter-mapping>

    <servlet>
        <description>Init the application parameters</description>
        <servlet-name>initParameters</servlet-name>
        <servlet-class>edu.stu.InitParameters</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>edu.stu.controller.Download</servlet-class>
        <init-param>
            <param-name>apk</param-name>
            <param-value>/WEB-INF/files/openvpn-connect-3-0-5.apk</param-value>
        </init-param>
        <init-param>
            <param-name>exe</param-name>
            <param-value>/WEB-INF/files/openvpn-install-2.4.6-I602.exe</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ConfigDownload</servlet-name>
        <servlet-class>edu.stu.controller.ConfigDownload</servlet-class>
        <init-param>
            <param-name>shellScriptPath</param-name>
            <param-value>/var/tomcat/get_ovpn.sh</param-value>
        </init-param>
        <init-param>
            <param-name>clientConfigFileDir</param-name>
            <param-value>/var/tomcat/ovpn-client-files/</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigDownload</servlet-name>
        <url-pattern>/config.do</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

</web-app>
